import React from 'react'

type {{className name}}Props = {
}

const {{className name}} = (props: {{className name}}Props) => {
	return (
		<div>
			
		</div>
	)
};

export default {{className name}};
